.searchContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 25px;
}

.inputContainer {
    position: relative; /* Allows absolute positioning of the clear icon */
}

.searchInput {
    align-items: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    background: rgba(255, 192, 203, 0.05);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.377);
    width: 100%; /* Ensure the input takes full width */
}

.clearIcon {
    position: absolute;
    right: 10px; /* Adjust as necessary for spacing */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center the icon */
    cursor: pointer;
    color: #ffffff; /* Change color to match your design */
    font-size: 1.2rem; /* Adjust size as necessary */
}
