/* 
==================
==================
Global
==================
==================
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  color: #ffffff;
  overflow-x: hidden;
}

/* Layout */
.page-section {
  width: 80%;
  margin: 0 auto;
  padding: 5em 0;
}

.blogPage p {
  line-height: 1.7em;
  max-width: 600px; /* Set the width of paragraphs */
  margin: 0 auto; /* Center paragraphs horizontally */
  text-align: center; /* Justify text */
  word-wrap: break-word;
}
.blogPage ul {
  line-height: 1.7em;
  max-width: 600px; /* Set the width of paragraphs */
  margin: 0 auto; /* Center paragraphs horizontally */
  text-align: justify; /* Justify text */
  word-wrap: break-word;
}

/* Buttons */
.page-section button {
  padding: 1.4em 2.6em;
  letter-spacing: 0.12em;
  background: #6d6b6b;
  border: none;
  outline: none;
  transition: ease 2s;
}

.page-section button:hover {
  background: #d4cfcf;
}

/* 
==================
==================
Gooey Effect
==================
==================
*/
.goo-container {
  position: relative;
}

.goo-container img {
  width: 800px;
  height: 300px;
  border-radius: 25px;
}

.page-section:nth-child(odd) {
  width: 100%;
  background: linear-gradient(var(--color2), var(--fill2));
}
