* {
  font-family: "Lato";
}



.card-wrapper {
  box-shadow: -4px 8px 12px 0px rgba(179, 179, 179, 1);
  width: 230px;
  height: 550px;
  border: 1px solid silver;
  margin: 0 15px;
  transition: transform 0.5s;
}

.card-wrapper:hover {
  transform: scale(1.04);
}

.card-header {
  text-align: center;
  margin: 30px 0 20px 0;
}

.card-title {
  margin: 0;
}

.card-price {
  color: #fff;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: center;
}

.card-price.monthly {
  background-color: #369be6;
}

.card-price.free {
  background-color: #7d7f8c;
}

.card-price.annual {
  background-color: #7d7f8c;
}

.price-number {
  font-size: 30px;
  font-weight: 300;
}

.price-text {
  font-size: 12px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px 0;
  padding: 20px;
  color: white;
}

.advantage-item {
  margin: 5px 0;
}

.crossed-text {
  text-decoration: line-through;
}


.card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-button {
  width: 70%;
  background-color: #369be6;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s, box-shadow 0.5s;
}

.card-button:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: rgb(100, 141, 174);
}

.card-trial-text {
  font-size: 13px;
  margin: 15px 0;
}

.price-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 50px;
}

.terms-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
  color: white;
}

.terms-links a {
  text-decoration: underline;
  
  font-size: large;
}

.terms-links a:visited {
  text-decoration: none;
  color: inherit; /* Ensure the color remains unchanged for visited links */
}

@media only screen and (max-device-width: 640px) {
  .price-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
   height: auto;
   padding: 85px;
  }
  .card-wrapper {
    margin: 25px 0;
  }
}