.editor-container {
  display: flex;
}

.task-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 93vh;
  background-color: #000000;
  border: 1px solid #ccc;
  color: #fff;
  margin-top: 60px;
}

.task {
  flex: 1;
  overflow: auto;
}

.task-buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.editor-container iframe {
  width: 100%;
  height: 93vh;
  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: hidden;
  flex: 1;
  margin-top: 60px;
}

.text-window {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.text-window h1 {
  padding: 10px;
  text-align: center;
}
.text-window h3 {
  margin: 20px 0;
  padding: 10px;
}

.text-window h4 {
  padding: 10px;
}

.task p {
  padding: 20px;
}

.prerequisites {
  margin-top: 20px;
}

.prerequisite-button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.prerequisite-button:hover {
  background-color: #0056b3;
}

.prerequisite-button:focus {
  outline: none;
}

.checkbox-container input[type="checkbox"] {
  display: none; 
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 8px;
}

.checkbox-container label {
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
}

.checkbox-container ul {
  margin: 1rem;
}

.checkbox-container input[type="checkbox"] + label {
  cursor: pointer;
  color: #ffffff;
}

.checkbox-container input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  background-color: #2adf12;
}




@media only screen and (max-device-width: 1024px) {
  .task-container {
    width: 30%; 
  }
}




