.editor-container {
  display: flex;
  padding-top: 60px;
}

.task-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 90vh;
  background-color: #000000;
  border: 1px solid #ccc;
  color: #fff;
}

.task {
  flex: 1;
  overflow: auto;
}

.task-buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}



.editor-container iframe {
  width: 100%;
  height: 90vh;
  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: hidden;
  flex: 1;
}

.text-window {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.task p {
  padding: 0;
  margin: 10px;
}
