.wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 20px 20px;
}

.wrapper .exercises-card {
  margin: 40px;
  width: calc(33.33% - 20px);
  max-width: 400px;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: transform 200ms ease-in;
}
.wrapper .exercises-card__image {
  padding: 25px;
  height: 12rem;
  object-fit: contain; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}
.wrapper .exercises-card__title {
  padding: 1rem;
  text-align: center;
}
.wrapper .exercises-card__description {
  padding: 0 1.5rem;
  color: #fff;
  font-size: 1.5rem;
}
.wrapper .exercises-card__btn {
  cursor: pointer;
  padding: 2rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem;
  border: none;
  background-color: #555;
  color: #fff;
  text-decoration: none !important;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.wrapper .exercises-card__btn::before {
  content: 'START';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.wrapper .exercises-card__btn::after {
  content: '→';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: all 0.4s ease;
}

.wrapper .exercises-card__btn:hover {
  background-color: #888;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.wrapper .exercises-card__btn:hover::before {
  transform: translate(-50%, -150%) scale(0.8);
  opacity: 0;
}

.wrapper .exercises-card__btn:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.wrapper .exercises-card__btn .ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 0.6s linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.exercises-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.exercises-title {
  display: block;
  position: relative;
  font-size: 5rem;
}

.space {
  display: inline-block; /* Ensure it takes space like a letter */
  width: 10px; /* Adjust the width as needed */
}

@media screen and (max-width: 460px) {
  .wrapper .exercises-card {
    width: 100%;
    margin:  40px 0;
  }
  .wrapper .exercises-card__image {
    object-fit: contain;
  }
  .exercises-title {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper .exercises-card {
    width: 100%;
  }
}

