html.Live-Editor,
body.Live-Editor,
main.Live-Editor {
  margin: 0;
  padding: 0;
}
main.Live-Editor {
  padding: 20px;
  background-color: #666;
}
.Live-Editor#input {
  position: relative;
  height: 300px;
  overflow: hidden;
  resize: vertical;
}
.Live-Editor#input label.textarea {
  display: inline-block;
  position: relative;
  width: 33%;
  height: 100%;
}
.Live-Editor#input label.textarea.head {
  position: absolute;
  top: 0;
}
.Live-Editor#input fieldset.settings {
  position: relative;
  top: -40px;
  margin: 0;
  padding: 5px;
  border: none;
  border-radius: 20px;
  background-color: #333;
}
.Live-Editor#input label.checkbox {
  padding: 10px;
  color: #ccc;
  background-color: #333;
}
.Live-Editor h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  border-radius: 20px 20px 0 0;
  background-color: #333;
  border-bottom: 1px solid #666;
  color: #999;
}
.Live-Editor#input textarea {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 80px);
  padding: 10px;
  resize: none;
  border: none;
  border-radius: 0 0 20px 20px;
  background-color: #333;
  color: #ccc;
}
.Live-Editor#result {
  border: 1px black solid;
  width: 100%;
  min-height: 300px;
  background-color: white;
}
.Live-Editor#reset,
.Live-Editor#save {
  display: inline-block;
  margin: 10px 0 20px;
  padding: 10px 20px;
  background-color: #ddd;
  color: black;
  border: none;
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: initial;
  line-height: initial;
  text-decoration: none;
  cursor: pointer;
}
.Live-Editor#reset:hover,
.Live-Editor#save:hover {
  background-color: #eee;
}
.Live-Editor#console {
  max-height: 200px;
  overflow-y: scroll;
  background-color: #333;
  color: #ccc;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}
.Live-Editor#console p {
  margin: 0;
}


