:root {
  --bg: hsl(0 0% 2%);
  --color: hsl(0 0% 100% / 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.15);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: hsl(0 0% 100%);
  --accent: hsl(0 0% 100%);
  --fill: hsl(0 0% 50%);
  --fill3: hsl(0, 0%, 75%);
}

nav {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  transition: 0.3s;
  z-index: 9999;
  background: var(--bg);
  border-bottom: 4px solid var(--fill2);
  padding: 0;
  margin: 0;
}

.navbar-container {
  width: 100%;
  max-width: 100vw;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.middle {
  display: flex;
  gap: 10px;
  margin: 0 10px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 20px;
  color: #fff;
}

.nav-link {
  color: aliceblue;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  background: linear-gradient(var(--finish-fill), var(--fill3));
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.5s ease;
}

.nav-link:hover::after {
  width: 100%;
}

nav img {
  width: 250px;
  display: flex;
  align-items: center;
  animation: moveImage 1.5s ease forwards;
}

@keyframes moveImage {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button-35 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  color: var(--accent);
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  border: 0;
  text-decoration: none;
  margin: 0;
}

.button-35:hover {
  box-shadow: #ffffff 0 0 0 3px, transparent 0 0 0 0;
}
/* Burger Icon Styles */
.menu-icon {
  display: none;
}

.menu-icon__line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.menu-icon__line.open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-icon__line.open:nth-child(2) {
  opacity: 0;
}

.menu-icon__line.open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.open .menu-icon__line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .menu-icon__line:nth-child(2) {
  opacity: 0;
}

.open .menu-icon__line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Responsive Links Styles */
.responsive-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--bg);
  border-bottom: 4px solid var(--fill2);
  z-index: 999;
  padding: 10px;
}

.responsive-links.open {
  display: flex;
}

.responsive-links a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  transition: background-color 0.3s ease;
  font-size: 2rem;
}

.responsive-links a:hover {
  background-color: var(--fill2);
}

@media only screen and (max-device-width: 640px) {
  .navbar-container {
    justify-content: space-between;
  }

  .right {
    position: relative;
  }

  .middle {
    display: none;
  }


  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }

  nav img {
    margin-left: 10px;
    width: 150px;
  }
}

@media only screen and (max-device-width: 1024px) {
  .nav-link {
    font-size: 1rem;
    color: #fff;
  }
}
