:root {
  --bg: hsl(0 0% 2%);
  --color: hsl(0 0% 100% / 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.15);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: hsl(0 0% 100%);
  --accent: hsl(0 0% 100%);
  --fill: hsl(0 0% 50%);
  --fill3: hsl(0, 0%, 75%);
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  transition: 0.3s;
  z-index: 9999;
  background: var(--bg);
  border-bottom: 4px solid var(--fill2);
  padding: 0;
  margin: 0;
}

.nav-dot {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: rgb(121, 121, 121);
  border-radius: 50%;
}

.navbar-container {
  margin: 0 10%;
  width: 80%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.middle {
  display: flex;
  gap: 20px;
}

.right {
  display: flex;
  white-space: nowrap;
  gap: 20px;
}

.nav-link {
  color: aliceblue;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  background: linear-gradient(var(--finish-fill), var(--fill3));
  background-clip: text;
  color: transparent;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.5s ease;
}

.nav-link:hover::after {
  width: 100%;
}

nav img {
  width: 24px;
  height: 24px;
  transform-origin: 0% 50%;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

nav.scrolled-down {
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav.scrolled-down img {
  scale: 1.25;
}

.button-35 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  color: var(--accent);
  cursor: pointer;
  line-height: 1;
  margin: 0;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  border: 0;
}

.button-35:hover {
  box-shadow: #ffffff 0 0 0 3px, transparent 0 0 0 0;
}
.menu-icon {
  display: none;
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  background-color: transparent;
  z-index: 999;
  right: 5px;
  height: 0;
  transition: height 0.2s ease-in;
}

.dropdown.show {
  height: 200px;
}

.dropdown-link {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 16px; 
  font-size: 18px;
  display: block; 
  transition: background-color 0.3s; 
}

.dropdown-link:hover {
  box-shadow: #ffffff 0 0 0 3px, transparent 0 0 0 0;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .navbar-container {
    display: none;
  }

  .menu-icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #fff;
    padding: 10px;
  }

  #nav {
    display: flex;
    justify-content: space-between;
  }

  .menu-icon.hide {
    display: none;
  }

  nav.scrolled-down {
    height: 56px;
  }

  nav.scrolled-down img {
    scale: 1;
  }
  
}
