:root {
  --bg: hsl(0 0% 2%);
  --color: hsl(0 0% 100% / 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.15);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: hsl(0 0% 100%);
  --accent: hsl(0 0% 100%);
  --fill: hsl(0 0% 50%);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  transition: 0.3s;
  z-index: 9999;
  background: var(--bg);
  border-bottom: 4px solid var(--fill2);
}

.nav-dot {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 5px;
  height: 5px; 
  background-color: rgb(121, 121, 121);
  border-radius: 50%; 
}


.navbar-container {
  margin: 0 10%;
  width: 80%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.left {
  flex: 1;
}

.middle {
  flex: 2; 
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 10px;
}

.right {
  flex: 1; 
  display: flex;
  justify-content: center;
  white-space: nowrap; 
  gap: 10px;
}

.nav-link {
  color: aliceblue;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.5s ease;
}

.nav-link:hover::after {
  width: 100%; 
}



nav img {
  width: 24px;
  height: 24px;
  transform-origin: 0% 50%;
  transition: 0.3s;
}

nav.scrolled-down {
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav.scrolled-down img {
  scale: 1.25;
}

.button-35 {
  align-items: center;
  background-color: var(--bg);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  color: var(--accent);
  cursor: pointer;
  line-height: 1;
  margin: 0;
  padding: 0.5rem 1rem;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  border: 0;
}

.button-35:hover {
  box-shadow: #ffffff 0 0 0 3px, transparent 0 0 0 0;
}



