/* Styles for sections */
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --bg: hsl(0 0% 2%);
  --color: hsl(0 0% 100% / 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.15);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: hsl(0 0% 100%);
  --accent: hsl(0 0% 100%);
  --fill: hsl(0 0% 50%);
  --fill2: hsl(0, 0%, 20%);
  --color2: hsl(0 0% 100% / 0.1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0;
}

.ipsType_right p {
  padding: 2rem;
}

.ipsType_right p span {
  font-size: 1.75rem;
}

.ipsType_right {
  text-align: left;
}

.ipsType_center {
  text-align: center;
}

.cInnerContent {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.ipsSpacer_bottom_double {
  margin-bottom: 30px;
}

.ipsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ipsGrid::before,
.ipsGrid::after {
  display: table;
  content: "";
  line-height: 0;
}

.ipsGrid > [class*="ipsGrid_span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}

.ipsGrid > .ipsGrid_span7 {
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ipsGrid > .ipsGrid_span5 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}

.feature {
  display: flex;
  align-items: stretch;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.content-section {
  position: relative;
  z-index: 1;
  padding: 20px 0;
}

.card {
  overflow: hidden;
}

h2.heading_large {
  font-size: 2em;
  margin: 20px 0;
  padding-left: 50px;
}

.image-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.section1-image {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.section2-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  object-fit: contain; 
  transform: translate(-50%, -50%) rotate(10deg);
}

.header-section {
  margin: 100px auto;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

.section1-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 1.5em;
  padding: 10px;
  margin: 0 50px;
  word-wrap: break-word;
}

.section1-chat {
  color: #fff;
}

.section1-chat:hover {
  text-decoration: none;
}

.features {
  animation: your-animation 1s ease-in-out forwards;
}

@keyframes your-animation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.neon-flash {
  animation: neon 1.5s ease-in-out infinite alternate,
    shortCircuit 5s ease-in-out 1.5s infinite;
}

@keyframes neon {
  0% {
    filter: brightness(270%);
  }
  100% {
    filter: brightness(40%);
  }
}

@keyframes shortCircuit {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0.5;
  }
  4% {
    opacity: 1;
  }
  5% {
    opacity: 0.7;
  }
  6% {
    opacity: 1;
  }
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slide {
  background: linear-gradient(var(--color2), var(--fill2));
  color: white;
  position: relative;
  width: 75%;
  height: 60vh;
  max-height: 80vh;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  padding: 0;
  overflow: hidden;
}

.slide__title {
  font-size: 1rem;
  text-align: right;
  padding: 1rem 3rem;
  border-top: 4px solid var(--fill2);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 8px 8px 0 0;
  letter-spacing: 1rem;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.slide__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  overflow: hidden;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 0;
}

.slide__content--para {
  font-size: 1vw;
  text-align: start;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  overflow: hidden;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background: transparent;
  padding: 20px;
}

.left {
  animation: leftAnimation 0.7s;
}

.fade {
  animation: fadeAnimation 0.7s;
}

@keyframes leftAnimation {
  from {
    transform: scale(0) translateX(-80vw);
  }
  to {
    transform: scale(1) translateX(0);
  }
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .ipsGrid {
    flex-direction: column;
  }

  .ipsGrid > .ipsGrid_span7,
  .ipsGrid > .ipsGrid_span5 {
    width: 100%;
  }

  .feature {
    flex-direction: column;
  }

  .ipsType_right p {
    padding: 0;
    margin: 25px;
  }

  .header-section {
    padding: 2rem;
  }

  .slide-container {
    height: 80vh;
  }

  .slide {
    width: 100%;
    max-width: 80vw;
    height: auto;
  }

  .slide__title {
    padding: 1rem 2rem;
    letter-spacing: 0.5rem;
  }

  .slide__content--para {
    line-height: 1.5rem;
  }

  .section1-list {
    font-size: 1.2em;
    padding: 10px 20px;
  }

  h2.heading_large {
    font-size: 1.8em;
    text-align: center;
  }
}

@media only screen and (max-width: 640px) {
  .sectionImg4 {
    height: 100%;
  }
}