@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --bg: hsl(0 0% 2%);
  --color: hsl(0 0% 100% / 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.15);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: hsl(0 0% 100%);
  --accent: hsl(0 0% 100%);
  --fill: hsl(0 0% 50%);
  --fill2: hsl(0 0% 50%);
  --color2: hsl(0 0% 100% / 0.1);
}



.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slide {
  background: linear-gradient(var(--color), var(--fill));
  color: white;
  position: relative;
  width: 75%;
  height: 60vh; /* Adjusted the height to 80vh */
  max-height: 80vh; /* Adjusted the maximum height to 80vh */
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  padding: 0;
  overflow: hidden;
}

.slide__title {
  font-size: 2.5rem;
  text-align: right;
  padding: 1rem 3rem;
  border-bottom: 4px solid var(--bg);
  font-family: "Geist Sans", sans-serif;
  border-radius: 8px 8px 0 0;
  background-image: linear-gradient(45deg, var(--fill2), var(--color2));
  letter-spacing: 1rem;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.slide__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  overflow: hidden;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 0;
}

.slide__content--para {
  font-size: 2vw;
  text-align: center;
  font-family: "Geist Sans", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.slide__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background: transparent;
  padding: 20px;
}

.slide__btn {
  border-radius: 50%;
  border: none;
  font-family: monospace;
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  background-color: blue;
  color: white;
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-weight: bolder;
  transition: background-color 0.2s;
}

.left {
  animation: leftAnimation 0.7s;
}

.fade {
  animation: fadeAnimation 0.7s;
}

@keyframes leftAnimation {
  from {
    transform: scale(0) translateX(-80vw);
  }
  to {
    transform: scale(1) translateX(0);
  }
}
@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .slide__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slide__content--para {
    padding: 40px;
  }
}
