

/* Root Variables */
:root {
  --bg: hsl(0 0% 2%);
  --color: hsl(0 0% 100% / 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.15);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: hsl(0 0% 100%);
  --accent: hsl(0 0% 100%);
  --fill: hsl(0 0% 50%);
  --fill2: hsl(0, 0%, 20%);
  --color2: hsl(0 0% 100% / 0.1);
}

/* General Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

/* Layout Containers */
.container {
  width: 100%;
  padding: 0;
}

ul {
  list-style-type: none; /* Removes the bullet points */
  padding-left: 0; /* Removes the default padding on the left */
  margin: 0; /* Optional: Removes default margin */
}

/* Text Alignments */
.ipsType_right,
.ipsType_left,
.ipsType_center {
  text-align: center;
}

.ipsType_right {
  text-align: left;
}

.ipsType_left {
  text-align: left;
}

/* Padding and Spacing */
.ipsType_right p,
.ipsType_left p {
  padding: 2rem;
}

.ipsType_right p span,
.ipsType_left p span {
  font-size: 1.75rem;
}

.ipsSpacer_bottom_double {
  margin-bottom: 30px;
}

/* Grid System */
.ipsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ipsGrid > [class*="ipsGrid_span"] {
  width: 100%;
  min-height: 30px;
  display: block;
  box-sizing: border-box;
}

.ipsGrid > .ipsGrid_span7 {
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ipsGrid > .ipsGrid_span5 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature {
  display: flex;
  align-items: stretch;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

/* Content Section */
.content-section {
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

/* Typography */
h2.heading_large {
  font-size: 2em;
  margin: 20px 0;
  padding-left: 50px;
}

.header-section {
  margin: 100px auto;
}

/* Lists */
.section1-list {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 1.5em;
  padding: 10px;
  margin: 0 50px;
  word-wrap: break-word;
}

/* Images */
.section1-image,
.section2-image {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.section2-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  width: 140%;
}

/* Animations */
@keyframes your-animation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.features {
  animation: your-animation 1s ease-in-out forwards;
}

@keyframes neon {
  0% {
    filter: brightness(270%);
  }
  100% {
    filter: brightness(40%);
  }
}

@keyframes shortCircuit {
  0%,
  4%,
  6% {
    opacity: 1;
  }
  2%,
  5% {
    opacity: 0.7;
  }
}

.neon-flash {
  animation: neon 1.5s ease-in-out infinite alternate,
    shortCircuit 5s ease-in-out 1.5s infinite;
}

/* Links */
.section1-chat {
  color: #fff;
}

.section1-chat:hover {
  text-decoration: none;
}

/* Responsive Styles */
@media only screen and (max-width: 1200px) {
  /* Laptop */
  h2.heading_large {
    font-size: 1.8em;
    padding-left: 30px;
  }

  .section1-list {
    font-size: 1.3em;
    margin: 0 40px;
  }

 

  .ipsGrid > .ipsGrid_span7 {
    width: 60%;
  }

  .ipsGrid > .ipsGrid_span5 {
    width: 38%;
  }

  .header-section {
    margin: 80px auto;
  }

  .ipsType_right p,
  .ipsType_left p {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  /* iPad/Tablets */
  .twoWords .word-title span {
    font-size: 6rem;
  }

  h2.heading_large {
    font-size: 1.5em;
    padding-left: 30px;
  }

  .section1-list {
    font-size: 1.2em;
    margin: 0 30px;
  }

  .ipsGrid > .ipsGrid_span7,
  .ipsGrid > .ipsGrid_span5 {
    width: 100%;
  }

  .ipsType_right p,
  .ipsType_left p {
    padding: 2.5rem;
  }

  .header-section {
    margin: 60px 40px;
  }

  .section1-image, .section2-image {
    display: none;
  }
  

}

@media only screen and (max-width: 480px) {
  /* Mobile */
  .twoWords .word-title span {
    font-size: 4rem;
  }

  h2.heading_large {
    font-size: 1.2em;
    padding-left: 10px;
  }

  .section1-list {
    font-size: 1em;
    margin: 0 20px;
  }

  .ipsGrid {
    flex-direction: column;
  }

  .ipsType_right p,
  .ipsType_left p {
    padding: 0.75rem;
  }

  .ipsType_right p span, .ipsType_left p span {
    font-size: 1rem;
  }

  .section2-image {
    display:none;
    
  }

  .header-section {
    margin: 40px auto;
  }
}
