

.word-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
}

.twoWords {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-top: 4rem;
  transform: rotate(8deg);
}

.welcomeWord,
.toTheWord {
  width: 100%;
  position: absolute;
  text-align: center;
}

.word-title {
  position: relative;
  z-index: 2;
}

.toTheWord {
  margin-top: 6rem;
  z-index: 3;
}

.sectionImages-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.word-title span {
  display: inline-block;
  background: linear-gradient(var(--finish-fill), var(--fill));
  -webkit-font-smoothing: antialiased;
  background-clip: text;
  color: transparent;
  font-family: "Shadows Into Light", cursive;
  font-weight: 200;
  font-size: 7rem;
  text-align: center;
}

.sectionImg4 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.sectionImg7 {
  position: absolute;
  width: 10%;
  left: 28%;
  top: 30%;
  z-index: 4;
  animation: shake 3s ease infinite;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    transform: rotate(15deg);
  }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
    transform: rotate(-15deg);
  }
}

.projectschoolImg {
  max-width: 450px;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sectionImg3 {
  width: 800px;
  top: -50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.sectionImg2 {
  width: 100px;
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 6;
}

.pslogosmall {
  display: none;
  position: absolute;
  width: 80%;
  
  z-index: 5;
}


.important-red h3 {
  font-size: 2rem;
  color: #e60023; /* Dark red color */
}



/* Combined Media Queries to Reduce Repetition */
@media only screen and (max-width: 1024px) {
  .sectionImg4 {
    width: 80%;
  }

  .sectionImg7 {
    left: 15%;
    top: 40%;
  }

  .word-title span {
    font-size: 9rem;
    margin-top: 75px;
  }
}

@media only screen and (max-width: 768px) {
  .twoWords {
    margin-top: 2rem;
    transform: rotate(5deg);
  }

  .word-title span {
    font-size: 4rem;
  }

  .projectschoolImg {
    max-width: 350px;
  }

  .sectionImg3 {
    width: 600px;
  }
}

@media only screen and (max-width: 640px) {
  .sectionImg4,
  .sectionImg7,
  .sectionImg3,
  .sectionImg2,
  .projectschoolImg {
    display: none;
  }

  .pslogosmall {
    display: block;
    top: 30%;

  }
}

@media only screen and (max-width: 480px) {
  .twoWords {
    margin-top: 1rem;
    transform: rotate(3deg);
  }

  .word-title span {
    font-size: 3.5rem;
  }
  .sectionImg4 {
    width: 60%;
  }
 
}

@media only screen and (max-width: 375px) {
  .important-red h3 {
    font-size: 1.5rem;
    z-index: 45633;
  }
  .sectionImg4 {
    width: 60%;
  }
  .pslogosmall {
    top: 50%;
  }
 
}

@media only screen and (max-width: 320px) {
  .word-title span {
    font-size: 3rem;
  }
}
