<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecolovoit: le leader du covoiturage | voyager en petit prix</title>
    <link rel="stylesheet" href="aa.css" />
  </head>
  <body>
    <div class="navbar">
      <img class="logo" src="" />
      <ul>
        <li><a href="#">ajouter votre trajet</a></li>
        <li><a href="#">s'inscrire</a></li>
        <li><a href="#">Se connecter</a></li>
      </ul>
    </div>
    <div class="banner">
      <div class="content">
        <div>
          <img src="aa.jpg" class="logo" />
        </div>
        <h1>Ecolovoit: le leader du covoiturage en Algérie</h1>
      </div>
      <video autoplay loop muted playsinline>
        <source src="hhh.mp4" type="video/mp4" />
      </video>
    </div>
   <form class="form-banner" action="indeyyy.html" method="GET">
  <div class="form-input">
    <input type="text" placeholder="Ville de Départ" />
    |
    <input type="text" placeholder="Ville de Destination" />
    |
    <input type="date" placeholder="03/03/2024" />
    |
    <input type="number" placeholder="Nombre de Passagers" />
    |
    <button type="submit">Rechercher</button>
  </div>
</form>
    <section>
      <div class="services">
        <div class="info">
          <img src="aa.jpg" class="logo" />
          <h4>Voyagez en toute sécurité</h4>
          <p>
            Etre mis en relation avec des personnes fiables, vous pouvez
            consulter les avis des autres membres et les profils sont
            généralement vérifiés.
          </p>
        </div>
        <div class="main-info">
          <div class="info">
            <img src="aa.jpg" class="logo" />
            <h4>Voyagez en compagnie</h4>
            <p>
              c'est aussi l'occasion de rencontrer de nouvelles personnes de
              tous horizons, de partager des expériences, des passions."
            </p>
          </div>
          <div class="info">
            <img src="aa.jpg" class="logo" />
            <h4>économisez en voyageant</h4>
            <p>
              en choisissant de se déplacer en plusieurs cela permet de diviser
              le coût d'un trajet, et de faire des économies!"
            </p>
          </div>
          <div class="info">
            <img src="aa.jpg" class="logo" />
            <h4>voyagez confortablement</h4>
            <p>
              Oubliez les trajets ennuyeux et stressants! Avec notre fondation
              de covoiturage, découvrez une nouvelle façon de voyager plus
              confortable.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="hero">
        <h2>Welcome to Ecolovoit!</h2>
        <p>
          Discover the best way to travel across Algeria with Ecolovoit trusted
          carpooling services. Join us today!
        </p>
        <ul class="links">
          <li><a href="contact.html">Nous contacter</a></li>
          <li><a href="cgu.html">Conditions d'utilisations</a></li>
          <li><a href="faq.html">comment sa marche? </a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
