<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecolovoit: le leader du covoiturage | voyager en petit prix</title>
    <link rel="stylesheet" href="aa.css" />
</head>
<body>
   <div class="navbar">
      <img class="logo" src="" />
      <ul>
        <li><a href="#">ajouter votre trajet</a></li>
        <li><a href="#">s'inscrire</a></li>
        <li><a href="#">Se connecter</a></li>
      </ul>
    </div>
    <div class="banner">
      <div class="content">
        <div>
          <img src="aa.jpg" class="logo" />
        </div>
        <h1>Ecolovoit: le leader du covoiturage en Algérie</h1>
      </div>
      <video autoplay loop muted playsinline>
        <source src="hhh.mp4" type="video/mp4" />
      </video>
    </div>
    <form class="form-banner">
      <div class="form-input">
        <input type="text" placeholder="Ville de Départ" />
        |
        <input type="text" placeholder="Ville de Destination" />
        |
        <input type="date" placeholder="03/03/2024" />
        |
        <input type="number" placeholder="Nombre de Passagers" />
        |
        <a href="bbb.html">
        <button>Rechercher</button>
    </a>
      </div>
    </form>
    <section>
      <div class="filters">
        <div class="column">
          <div class="sort-section">
            <h1>Sort by:</h1>
            <div>
              <label
                ><input type="radio" name="sorting" value="price" /> Lowest
                Price</label
              ><br />
              <label
                ><input type="radio" name="sorting" value="route" /> Fastest
                Route</label
              ><br />
              <label
                ><input type="radio" name="sorting" value="departures" /> Early
                Departures</label
              ><br />
            </div>
          </div>
          <div class="filters-section">
            <h1>Filters:</h1>
            <input type="checkbox" id="directRoute" name="directRoute" />
            <label for="directRoute">Direct Route</label><br />
            <input type="checkbox" id="noSmoking" name="noSmoking" />
            <label for="noSmoking">No Smoking</label><br />
            <input
              type="checkbox"
              id="certifiedDriver"
              name="certifiedDriver"
            />
            <label for="certifiedDriver">Certified Driver</label><br />
          </div>
        </div>

        <div class="column">
          <div class="column-right">
            <div>
              <p>time</p>
              <div class="row">
                <img src="blabla.jpg" alt="img" />Name
                <p>Welcome</p>
              </div>
            </div>
          </div>
          <div class="column-right">
            <div>
              <p>time</p>
              <div class="row">
                <img src="blabla.jpg" alt="img" />name
                <p>Welcome</p>
              </div>
            </div>
          </div>
          <div class="column-right">
            <div>
              <p>time</p>
              <div class="row">
                <img src="blabla.jpg" alt="img" />Name
                <p>Welcome</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="hero">
        <h2>Welcome to Ecolovoit!</h2>
        <p>
          Discover the best way to travel across Algeria with Ecolovoit trusted
          carpooling services. Join us today!
        </p>
        <ul class="links">
          <li><a href="contact.html">Nous contacter</a></li>
          <li><a href="cgu.html">Conditions d'utilisations</a></li>
          <li><a href="faq.html">comment sa marche? </a></li>
        </ul>
      </div>
    </footer>
</body>
</html>