@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.Toastify__toast-container {
  position: fixed;
  top: 80px !important; /* Adjust as needed */
  z-index: 9999; /* Ensure it's above other elements */
}

:root {
  --bg: hsl(0 0% 2%);
  --color: hsl(0 0% 100% / 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.15);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: hsl(0 0% 100%);
  --accent: hsl(0 0% 100%);
  --fill: hsl(0 0% 50%);
}

body {
  background-color: var(--bg);
  color: var(--color);
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  accent-color: red;
  overflow-x: hidden;
}

header,
.last {
  width: 100%;
  height: 100vh;
  color: var(--finish-fill);
  display: flex;
  justify-content: center;
  font-size: clamp(2rem, 4vw + 1rem, 12rem);
}

h1,
h2 {
  font-weight: 420;
  background: linear-gradient(var(--finish-fill), var(--fill));
  background-clip: text;
  color: transparent;
}
h3 {
  font-weight: 420;
  color: #fff;
}

p > span {
  outline-color: hsl(10 80% 50%);
  outline-offset: 1ch;
  font-size: 3rem;

  color: var(--color);
  text-decoration: none;
  background-image: linear-gradient(
      90deg,
      transparent calc(100% - 8ch),
      var(--accent) calc(100% - 8ch)
    ),
    linear-gradient(90deg, var(--fill), var(--fill)),
    linear-gradient(90deg, var(--underline-color), var(--underline-color));
  background-size: var(--underline-block-width) var(--underline-width),
    var(--underline-block-width) var(--underline-width),
    100% var(--underline-width);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 100%;
  background-clip: text;
  color: var(--finish-fill);
}

main {
  height: 200vh;
}

section {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

@supports (animation-timeline: scroll()) {
  @media (prefers-reduced-motion: no-preference) {
    main {
      view-timeline-name: --section;
    }

    p > span {
      background-position-x: calc(var(--underline-block-width) * -1),
        calc(var(--underline-block-width) * -1), 0;
      color: transparent;
      animation-name: fill-up, color-in;
      animation-fill-mode: both;
      animation-timing-function: linear;
      animation-timeline: --section;
      animation-range: entry 200% cover 25%, cover 25% exit 0%;
    }

    @keyframes fill-up {
      to {
        background-position-x: 0, 0, 0;
      }
    }

    @keyframes color-in {
      to {
        color: var(--finish-fill);
      }
    }
  }
}



/* Button 28 */

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
   font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 5px;
  min-height: 20px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events:fill;
}

.button-28:hover {
  color: #000000;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
   .task-buttons {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap if necessary */
    justify-content: space-around; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    padding: 10px; /* Add padding to the container */
  }
  .button-28 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0; /* Hide text on smaller screens */
    width: 30px; /* Set the width of the buttons */
    height: 30px; /* Set the height of the buttons */
  }

  .button-28::after {
    font-size: 16px; /* Adjust font size of the symbols */
  }

  .button-28.previous::after {
    content: '\2039'; /* Unicode for left-pointing angle quotation mark (<) */
  }

  .button-28.complete::after {
    content: '\2713'; /* Unicode for check mark symbol (✓) */
  }

  .button-28.next::after {
    content: '\203A'; /* Unicode for right-pointing angle quotation mark (>) */
  }
}

