.main {
  display: block;
  width: 100%;
  height: 100vw;
  background-color: rgb(0, 0, 0, 0.08);
}

.faqContainer {
  padding: 20px 32px 120px 32px;
  
}
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  line-height: 150%;
  text-transform: capitalize;
}

.faqItemContainer {
  width: 60%;
  background-color: white;
  margin-bottom: 8px;
  border-radius: 8px;
  text-align: left;
  text-transform: none;
  overflow: hidden;
  height: auto;
  padding: 16px;
  transition: all 300ms;
}
.faqHeader {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  line-height: 100%;
  color: #000;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-right: 8px;
}
.arrow.open {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.faqBody {
  margin-top: 8px;
  font-size: 14px;
  line-height: 100%;
  color: #757575;
}

.faq-container {
  padding-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-title {
  display: block;
  position: relative;
  font-size: 7rem;
}

.faq-container-answer {
  padding: 10px;
}
.faq-container-answer p {
  padding: 10px;
}

@media only screen and (max-device-width: 640px) {
  .faq-container {
    padding-top: 250px;
    height: auto;

  }

  .faqItemContainer {
    width: 100%;
    padding: 26px;
  }

  .faqHeader {
    font-size: 1rem;
  }

  .faq-container-answer p {
    font-size: 1rem;
    line-height: 20px;
  } 
}
